{% extends "temp.html" %}

{% block title %}Member Options{% endblock %}

{% block body %}
<div class="member-option-container">
    <div class="white-container">
        <div class="company-name-container">
            <h1>Welcome</h1>
        </div>
        <div class="member-option">
            <a href="/add/member/list"><div id="addMember">
                <p>Add Member</p>
            </div></a>
            <div id="findMember">
                <p>Find Member</p>
            </div>
        </div>
    </div>    
</div>
{% endblock %}